nama = "Dsur"
umur = 21
alamat,provinsi = "Jl.Nyalindung","7413412"
pythonScore = 80.5
isMarried = True

print("Nama :",nama)
print("Umur :",umur)
print("Alamat :", alamat)m
print("Provinsi :",provinsi)
print("Nilai :",pythonScore)
print("Status Menikah :", isMarried)

print("Tipe Data (nama) :",type(nama))
print("Tipe Data (umur) :",type(umur))
print("Tipe Data (alamat) :",type(alamat))
print("Tipe Data (provinsi) :",type(provinsi))m
print("Tipe Data (pythonScore) :",type(pythonScore))
print("Tipe Data (isMarried) :",type(isMarried))

In [15]:
#Casting atau Conversi Tipe Data

strToInt = int(provinsi)
strToFloat = float(provinsi)
strToBool = bool(provinsi)
print(strToInt,strToFloat,strToBool)

intToStr = str(umur)
intToFloat = float(umur)
intToBool = bool(umur)
print(intToStr,intToFloat,intToBool)

floatToStr = str(pythonScore)
floatToInt = int(pythonScore)
floatToBool = bool(pythonScore)
print(floatToStr,floatToInt,floatToBool)

boolToStr = str(isMarried)
boolToInt = int(isMarried)
boolToBool = bool(isMarried)
print(boolToStr,boolToInt,boolToBool)

7413412 7413412.0 True
21 21.0 True
80.5 80 True
True 1 True

In [25]:
#String Adalah Kumpulan dari beberapa karakter dan Immtable

city = "Sukabumi"
panjang = len(city)
print(city[0])
print(len(city))
print(city[panjang-1])

S
8
i

In [26]:
desimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff

print("Nilai Decimal :",desimal)
print("Nilai Biner :",biner)
print("Nilai Octal :",octal)
print("Nilai Hexa :",hexa)

print("Biner dari",desimal,":",bin(desimal))
print("Ocal dari",desimal,":",oct(desimal))
print("Hexadesimal",desimal,":",hex(desimal))

Nilai Decimal : 500
Nilai Biner : 10
Nilai Octal : 255
Nilai Hexa : 255
Biner dari 500 : 0b111110100
Ocal dari 500 : 0o764
Hexadesimal 500 : 0x1f4

In [38]:
#Tipe data Collection
cities = ["Sukabumi","Malang","Bandung"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Jakarta"
print(cities)

hobbies = ("Basket","Sholat","Foot Ball")
print(hobbies)
print(hobbies[0])
#hobbies[0] = "watching Netflix" Program error
studentData = {
    "nama" : "Andi",
    "umur" : 20,
    "alamat" : {
        "Jalan" : "Jl.Nyalindung",
        "nomer" : 21,
        "provinsi" : "Sukabumi",
    }
}

studentList ={
    "nama" : "Andi",
    "umur" : 20,
    "alamat" : {
        "Jalan" : "Jl.Nyalindung",
        "nomer" : 21,
        "provinsi" : "Sukabumi",
    }
}
{
    "nama" : "Budi"
    "umur" : 20,
    "alamat" : {
        "jalan" : "Jl.Nyalindung",
        "nomer" : 21,
        "provinsi" : "Sukabumi",
    }
}
print(studentData)
print(studentData["nama"])
print(studentData["alamat"]["provinsi"])

SyntaxError: invalid syntax (1362044914.py, line 34)